.ubication-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.ubication-display-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 20px;
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f2fcfe,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f2fcfe,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ubication-display-name {
  margin-bottom: 10px;
}

.hex-code-d {
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  transition: background-color 0.5s ease;
}

.color-d {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 100px;
  width: 350px;
}

.color-d:hover .hex-code-d {
  background-color: #5e5e5e33;
}

.c0-d {
  border-radius: 10px 10px 0 0;
}

.c3-d {
  border-radius: 0 0 10px 10px;
}

.btn-back {
  text-decoration: none;
  min-width: 165px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: rgb(100, 103, 105);
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 25px;
  margin-top: 25px;
  border-radius: 5px;
}

.btn-back:hover {
  cursor: pointer;
  background-color: rgb(37, 37, 37);
  color: #fff;
}
